<template>
  <div class="register">
    <div class="register-box">
      <div class="register-box__header">
        <h3>ورود</h3>
      </div>
      <div class="register-box__form">
        <form @submit.prevent="validation">
          <label for="mobile">* رمز عبور</label>

          <input
            type="tel"
            name="mobile"
            id="mobile"
            v-model.lazy="password"
            required
          />
          <label for="mobile" class="register-box__placeholder">
            <span>لطفا رمز عبور خود را وارد کنید</span>
          </label>
          <div class="register-box__empty-error" v-if="fullInput">
            <span>وارد کردن رمز عبور اجباری است!</span>
          </div>
          <div class="register-box__password-error" v-if="passNotMatch">
            رمز عبور نامعتبر است!
            <router-link :to="{ name: 'Register2View' }">
              فراموشی رمز عبور
            </router-link>
          </div>
          <div class="register-box__button">
            <button type="submit" @click="validation">ورود به سایت</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isUser: false,
      showLoginError: false,
      fullInput: false,
      password: "",
      registeredUser: {},
      passNotMatch: false,
    };
  },
  methods: {
    validation() {
      if (this.password) {
        this.fullInput = false;
        this.getRegisteredUser();
        if (this.registeredUser.password == this.password) {
          localStorage.setItem(
            "loggedInUser",
            JSON.stringify(this.registeredUser)
          );
          this.$router.push({ name: "RegisterView" });
        } else {
          this.password = "";
          this.passNotMatch = true;
        }
        console.log(this.registeredUser.password);
      } else {
        this.fullInput = true;
      }
    },

    getRegisteredUser() {
      this.registeredUser = JSON.parse(localStorage.getItem("registeredUser"));
    },
  },
};
</script>

<style scoped>
.register {
  height: calc(100vh - 208px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.register .register-box {
  width: 25%;
  background: #fafbfc;
  box-shadow: 0px 8px 16px rgba(32, 48, 64, 0.15);
  border-radius: 12px;
  padding: 40px;
}
.register .register-box__header {
  display: flex;
  justify-content: center;
  margin: 5px auto 30px;
}
.register .register-box__form form {
  position: relative;
}
.register .register-box__form form input {
  width: 100%;
  order: 2;
  border-bottom: 3px solid #243447;
  border-top: 1px solid #fafbfc;
  border-right: 1px solid #fafbfc;
  border-left: 1px solid #fafbfc;
  background: #fafbfc;
  padding: 8px 12px;
  margin-top: 16px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.register .register-box__form form input:focus {
  background-color: rgba(208, 212, 219, 0.5137254902);
  outline: none;
  border-bottom: 3px solid #208bee;
  border-top: 1px solid #fafbfc;
  border-right: 1px solid #fafbfc;
  border-left: 1px solid #fafbfc;
}
.register .register-box__form form input::placeholder {
  display: flex;
  justify-content: space-between;
}
.register .register-box__form form input:focus + label {
  display: none;
  transition: ease-in-out 0.4s;
}
.register .register-box__placeholder {
  display: flex;
  justify-content: space-between;
  position: absolute;
  order: 0;
  margin-top: -33px;
  width: 100%;
  padding: 0px 15px;
  cursor: pointer;
}
.register-box__empty-error {
  margin-top: 5px;
}
.register-box__empty-error span {
  font-size: 14px;
  font-weight: 600;
  color: red;
}
.register-box__password-error {
  display: flex;
  justify-content: space-between;
  background-color: rgba(218, 84, 84, 0.372);
  color: rgb(156, 45, 45);
  margin-top: 15px;
  font-size: 14px;
  padding: 8px 15px;
}
.register-box__password-error a {
  text-decoration: none;
  color: rgb(156, 45, 45);
}
.register .register-box__button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.register .register-box__button button {
  background-color: #208bee;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 10px auto 0px;
  align-self: center;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.register .register-box__button button:hover {
  background-color: #1d6cb6;
}

.isNotUserError {
  display: flex;
  justify-content: space-between;
  background-color: rgba(218, 84, 84, 0.372);
  color: rgb(156, 45, 45);
  margin-top: 15px;
  font-size: 14px;
  padding: 8px 15px;
}
.isNotUserError a {
  text-decoration: none;
  color: rgb(156, 45, 45);
}

/* ************ R E S P O N S I V E ******************* */

@media all and (max-width: 1200px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 40%;
  }
}
@media all and (max-width: 992px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 45%;
  }
}
@media all and (max-width: 768px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 50%;
  }
}
@media all and (max-width: 575px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 70%;
  }
}
</style>