<template>
  <ProfileAlert :post="takenPost" v-if="showAlert">
    <button @click="changeAlertStatus">بستن</button>
  </ProfileAlert>

  <ProfileHeader>
    <button @click="changeAlertStatus">اطلاعات کامل ارتباطی</button>
  </ProfileHeader>

  <div class="seperator">
    <p class="seperator__title">سایر مقالات نویسنده</p>
    <div class="seperator__line"></div>
  </div>

  <ShowAuthorPosts :authorDetails="this.$route.params.username" />
</template>

<script>
import posts from "../assets/data/posts.js";
import ProfileHeader from "../components/ProfileHeader.vue";
import ShowAuthorPosts from "../components/ShowAuthorPosts.vue";
import ProfileAlert from "../components/ProfileAlert.vue";

export default {
  data() {
    return {
      takenPost: {},
      showAlert: false,
    };
  },
  components: {
    ProfileHeader,
    ShowAuthorPosts,
    ProfileAlert,
  },
  methods: {
    changeAlertStatus() {
      this.showAlert = !this.showAlert;
      console.log(this.showAlert);
    },
  },
  beforeMount() {
    this.takenPost = posts.find((post) => {
      return this.$route.params.username === post.author.username;
    });
  },
  mounted() {
    console.log(this.showAlert);
  },
};
</script>

<style scoped>
.seperator {
  width: 80%;
  margin: 0px auto;
}
.seperator__title {
  width: 14%;
  border-bottom: 3px solid #208bee;
  text-align: center;
  margin: 0;
}
.seperator__line {
  border-bottom: 2px solid #deeaf5;
  margin-top: -1px;
}

/* ProfileHeader styles */
.profile__author-details button {
  border: 2px solid #ffffff26;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px 15px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: ease-in-out 0.3s;
}
.profile__author-details button:hover {
  border: 2px solid #ffffff;
}

/* ProfileAlert styles */
.cover__btn button {
  border: 1px solid #dee0e3;
  border: none;
  border-radius: 4px;
  color: #208bee;
  padding: 7px 20px;
  cursor: pointer;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}
.cover__btn button:hover {
  background-color: red;
  color: white;
}

/* ********** R E S P O N S I V E *************** */
@media all and (max-width: 1157px) {
  .seperator__title {
    width: 20%;
  }
}
@media all and (max-width: 809px) {
  .seperator__title {
    width: 30%;
  }
}
@media all and (max-width: 540px) {
  .seperator__title {
    width: 40%;
  }
}
@media all and (max-width: 405px) {
  .seperator__title {
    width: 50%;
  }
}
@media all and (max-width: 324px) {
  .seperator__title {
    width: 60%;
  }
}
</style>