<template>
  <div class="register">
    <div class="register-box">
      <div class="register-box__header">
        <h3>شما هنوز در هلیوم ثبت نام نکرده اید</h3>
        <p>لطفا اطلاعات زیر را برای ثبت نام تکمیل کنید</p>
      </div>
      <form class="register-box__form" @submit.prevent="checkValidation">
        <div class="register-box__mobile">
          <label for="mobile">*شماره تلفن همراه شما</label>
          <input
            style="text-align: left"
            class="register-box__input"
            type="number"
            name="mobile"
            id="mobile"
            required
            placeholder="09151234567"
            v-model.lazy="newUser.number"
            @input="hideNumberError"
          />
          <span class="register-box__requiredFieldError" v-if="numberError"
            >فیلد اجباری!</span
          >
          <!-- <label for="mobile" class="register-box__placeholder register-box__placeholder--mobile">
                        <span>۰۹۱۵۱۲۳۴۵۶۷</span>
                    </label> -->
        </div>
        <div class="register-box__name">
          <label for="name">*نام و نام خانوادگی</label>
          <input
            class="register-box__input"
            type="text"
            name="name"
            id="name"
            required
            placeholder="نام خود را به فارسی وارد کنید"
            v-model="newUser.name"
            @input="hideNameError"
          />
          <span class="register-box__requiredFieldError" v-if="nameError"
            >فیلد اجباری!</span
          >
        </div>
        <div class="register-box__email">
          <label for="email">*پست الکترونیکی</label>
          <div class="register-box__placeholder">
            <label
              for="email"
              class="register-box__placeholder--email"
              @click="togglePlaceHolder"
            >
              <div class="register-box__placeholder-text">
                <span>مثال:</span>
                <span>example@helium.com</span>
              </div>
            </label>
          </div>
          <input
            class="register-box__input"
            @click="togglePlaceHolder"
            type="email"
            name="email"
            id="email"
            v-model.lazy="newUser.email"
            required
            @input="hideEmailError"
          />
        </div>
        <span class="register-box__requiredFieldError" v-if="emailError"
          >فیلد اجباری!</span
        >
        <div class="register-box__button">
          <button type="submit" @click="checkValidation">ادامه</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showEmail: true,
      newUser: {
        number: null,
        name: "",
        email: "",
      },
      numberError: false,
      nameError: false,
      emailError: false,
    };
  },
  methods: {
    togglePlaceHolder() {
      this.showEmail = !this.showEmail;
    },
    setUserData() {
      localStorage.setItem("newUser", JSON.stringify(this.newUser));
      console.log(this.newUser);
      this.$router.push({ path: "/register2_" });
    },
    checkValidation() {
      console.log(this.newUser.number,this.newUser.name,this.newUser.email);
      if (this.newUser.number && this.newUser.name && this.newUser.email) {
        this.setUserData();
      } else {
        if (!this.newUser.number) {
          this.numberError = true;
        }
        if (!this.newUser.name) {
          this.nameError = true;
        }
        if (!this.newUser.email) {
          this.emailError = true;
        }
      }
    },
    hideNumberError() {
      this.numberError = false;
    },
    hideNameError() {
      this.nameError = false;
    },
    hideEmailError() {
      this.emailError = false;
    },
  },
};
</script>

<style scoped>
.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register .register-box {
  width: 20%;
  background: #fafbfc;
  box-shadow: 0px 8px 16px rgba(32, 48, 64, 0.15);
  border-radius: 12px;
  padding: 40px 50px;
}
.register .register-box__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px auto 30px;
}
.register .register-box__header h3 {
  font-weight: 700;
}
.register .register-box__header p {
  color: gray;
  font-weight: 600;
  margin: 7px 0px 3px;
}
.register .register-box__form {
  text-align: start;
}
.register .register-box__placeholder {
  width: 100%;
  position: absolute;
  bottom: 9px;
}
.register .register-box__placeholder--email {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: gray;
}
.register-box__name input::placeholder {
  text-align: start;
}
.register .register-box__input {
  width: 100%;
  border-bottom: 3px solid rgba(36, 52, 71, 0.7411764706);
  border-top: 1px solid #fafbfc;
  border-right: 1px solid #fafbfc;
  border-left: 1px solid #fafbfc;
  background: #fafbfc;
  padding: 8px 12px;
  margin-top: 10px;
  transition: ease-in-out 0.2s;
  border-radius: 4px;
  cursor: pointer;
}
.register .register-box__input:focus {
  background-color: rgba(208, 212, 219, 0.5137254902);
  outline: none;
  border-bottom: 3px solid #208bee;
  border-top: 1px solid #fafbfc;
  border-right: 1px solid #fafbfc;
  border-left: 1px solid #fafbfc;
}
.register .register-box__input:focus::placeholder {
  opacity: 0;
}
/* .register .register-box__email input:focus span{
    display: none; 
    color: red;
} */
.register .register-box__mobile,
.register .register-box__name {
  margin-bottom: 30px;
  position: relative;
}
.register .register-box__email {
  position: relative;
}
.register .register-box__name input {
  text-align: start;
}
.register .register-box__email input {
  text-align: end;
}
.register .register-box input::-webkit-outer-spin-button,
.register .register-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.register .register-box input[type="number"] {
  -moz-appearance: textfield;
}
.register .register-box__button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.register .register-box__button button {
  background-color: #208bee;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 40px;
  margin: 10px auto 0px;
  align-self: center;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.register .register-box__button button:hover {
  background-color: #1d6cb6;
}

.register-box__requiredFieldError {
  color: red;
}

/* ******************   R E S P O N S I V E ******************* */

@media all and (max-width: 1632px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 30%;
  }
}
@media all and (max-width: 1200px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 40%;
  }
}
@media all and (max-width: 992px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 45%;
  }
}
@media all and (max-width: 768px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 50%;
  }
}
@media all and (max-width: 576px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 70%;
  }
}
@media all and (max-width: 477px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 85%;
  }
}
@media all and (max-width: 350px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 85%;
  }
  .register-box__placeholder--email {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}
</style>