<template>
  <div class="register">
    <div class="register-box">
      <div class="register-box__header">
        <h3>شما هنوز در هلیوم ثبت نام نکرده اید</h3>
        <p>لطفا اطلاعات زیر را برای ثبت نام تکمیل کنید</p>
      </div>
      <form class="register-box__form" @submit.prevent="checkValidation">
        <div class="register-box__username">
          <label for="username">*نام کاربری</label>
          <input
            class="register-box__input"
            type="text"
            name="username"
            id="username"
            v-model.lazy="newUser1.username"
            @input="hideUsernameError"
            placeholder="نام کاربری دلخواه خود را به انگلیسی وارد کنید"
            required
          />

          <!-- <label for="username" class="register-box__placeholder">
            د
          </label> -->
          <span v-if="usernameError">فیلد اجباری</span>
        </div>
        <div class="register-box__password">
          <label for="password">*رمز عبور</label>

          <input
            class="register-box__input"
            type="password"
            name="password"
            id="password"
            placeholder="رمز عبور دلخواه را به انگلیسی وارد کنید"
            v-model.lazy="newUser1.password"
            @input="hidePassError"
            required
          />
          <!-- <label for="password" class="register-box__placeholder">
            د
          </label> -->
          <span v-if="passwordError">فیلد اجباری</span>
        </div>
        <div class="register-box__passwordRepeat">
          <label for="password_">*تکرار رمز عبور</label>
          <input
            class="register-box__input"
            type="password"
            name="password_"
            id="password_"
            v-model.lazy="repeatPass"
            placeholder="رمز عبور خود را مجدد وارد کنید"
            @input="hideRepeatPassError"
            required
          />

          <!-- <label for="password_" class="register-box__placeholder" >
            رمز عبور خود را مجدد وارد کنید
          </label> -->
          <span v-if="differentPass">تکرار رمز عبور مطابقت ندارد</span>
          <span v-if="repeatPassError">فیلد اجباری</span>
        </div>
        <div class="register-box__pick-img-box">
          <label for="image">انتخاب تصویر پروفایل</label>
          <div class="register-box__out-put">
            <div class="" style="margin-bottom: -6px">
              <!-- <input
                type="image"
                src="../assets/images/tiny.jpg"
                alt="image"
                width="36px"
                height="36px"
                id="profileImage"
              /> -->
              <input
                type="image"
                :src="src1"
                alt="image"
                width="36px"
                height="36px"
                id="profileImage"
              />
            </div>
            <div class="register-box__pick-img">
              <input
                type="file"
                accept="image"
                name="image"
                id="pickImage"
                @change="getImg"
              />
              <a href="#">بارگذاری تصویر</a>
            </div>
          </div>
        </div>
        <div class="register-box__button">
          <button @click="checkValidation">ادامه</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      src1: require("../assets/svgs/profileImg.svg"),
      src: "",
      newUser: {},
      newUser1: {
        image: "",
        username: "",
        password: "",
        mobile: null,
        email: "",
        name: "",
      },
      repeatPass: "",

      usernameError: false,
      passwordError: false,
      repeatPassError: false,

      differentPass: false,
    };
  },
  methods: {
    getImg(e) {
      this.src = e.target.files[0].name;
      this.newUser1.image = `require(@assets/images/${this.src})`;
    },
    setUserData() {
      this.newUser = JSON.parse(localStorage.getItem("newUser"));

      this.newUser1.mobile = this.newUser.number;
      this.newUser1.name = this.newUser.name;
      this.newUser1.email = this.newUser.email;

      // if (!this.newUser1.image) {
      //   this.newUser1.image = '@assets/svgs/profileImg.svg'
      // }

      this.postNewUser();

      localStorage.setItem("newRegisterUSer", JSON.stringify(this.newUser1));

      console.log(this.newUser1);
    },
    checkValidation() {
      console.log(
        this.newUser1.username,
        this.newUser1.password,
        this.repeatPass
      );
      if (this.newUser1.username && this.newUser1.password && this.repeatPass) {
        if (this.newUser1.password !== this.repeatPass) {
          // alert(0)
          this.differentPass = true;
        } else {
          this.setUserData();
          // this.$router.push({ path: "/register_done" });
        }
      } else {
        console.log(this.newUser1.password, this.repeatPass);
        if (!this.newUser1.username) {
          this.usernameError = true;
        }
        if (!this.newUser1.password) {
          this.passwordError = true;
        }
        if (!this.repeatPass) {
          this.repeatPassError = true;
        }
      }
    },
    postNewUser() {
      axios
        .post("http://localhost:3000/register", {
          name: this.newUser1.name,
          mobile: this.newUser1.mobile,
          email: this.newUser1.email,
          username: this.newUser1.username,
          password: this.newUser1.password,
          image: this.newUser1.image,
        })
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    hideUsernameError() {
      this.usernameError = false;
    },
    hidePassError() {
      this.passwordError = false;
    },
    hideRepeatPassError() {
      this.repeatPassError = false;
    },
  },
};
</script>

<style scoped>
.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register .register-box {
  width: 25%;
  background: #fafbfc;
  box-shadow: 0px 8px 16px rgba(32, 48, 64, 0.15);
  border-radius: 12px;
  padding: 40px 50px;
}
.register .register-box__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px auto 30px;
}
.register .register-box__header p {
  color: gray;
}
.register .register-box__input::placeholder {
  text-align: right;
}
.register .register-box__input:focus::placeholder {
  opacity: 0;
}
.register-box__form {
  text-align: start;
}
.register-box__form span {
  color: red;
  font-size: 12px;
  font-weight: 600;
}
.register .register-box__username,
.register .register-box__password,
.register .register-box__passwordRepeat,
.register .register-box__pick-img-box {
  margin-bottom: 20px;
  position: relative;
}
.register .register-box__username input,
.register .register-box__password input,
.register .register-box__passwordRepeat input {
  text-align: left;
}
.register .register-box__passwordRepeat input::placeholder {
  text-align: right;
}
.register .register-box__input {
  width: 100%;
  border-bottom: 3px solid rgba(36, 52, 71, 0.7411764706);
  border-top: 1px solid #fafbfc;
  border-right: 1px solid #fafbfc;
  border-left: 1px solid #fafbfc;
  background: #fafbfc;
  padding: 8px 12px;
  margin-top: 10px;
  transition: ease-in-out 0.2s;
  border-radius: 4px;
  cursor: pointer;
}
.register .register-box__input:focus {
  background-color: rgba(208, 212, 219, 0.5137254902);
  outline: none;
  border-bottom: 3px solid #208bee;
  border-top: 1px solid #fafbfc;
  border-right: 1px solid #fafbfc;
  border-left: 1px solid #fafbfc;
}
.register .register-box__input::placeholder {
  display: flex;
  justify-content: space-between;
}
.register .register-box__input:focus + label {
  display: none;
  transition: ease-in-out 0.4s;
}
.register .register-box__input:checked + label {
  display: none;
}
.register .register-box__input + label {
  color: rgba(37, 37, 40, 0.5137254902);
}
.register .register-box__placeholder {
  display: flex;
  justify-content: space-between;
  position: absolute;
  order: 0;
  margin-top: -33px;
  width: 100%;
  padding: 0px 15px;
  font-size: 14px;
  cursor: pointer;
}
/* .register .register-box__passwordRepeat #password_ {
  background-color: #ededed;
  border-bottom: 2px solid red;
} */
.register .register-box__passwordRepeat span {
  color: red;
  font-size: 12px;
  font-weight: bold;
}
.register .register-box__out-put {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  padding: 15px 20px;
  margin-top: 8px;
  border-radius: 8px;
}
.register .register-box__out-put input {
  border: none;
  background-color: #ededed;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.register .register-box__out-put input:focus {
  border: none;
}
.register .register-box__out-put a {
  text-decoration: none;
  color: #208bee;
  font-weight: bold;
  font-size: 14px;
}
.register .register-box__pick-img a {
  position: absolute;
  left: 20px;
}
.register .register-box__pick-img input {
  position: relative;
  left: -20px;
  z-index: 10;
  opacity: 0;
}
.register .register-box #profileImage {
  border-radius: 50%;
}
.register .register-box__button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.register .register-box__button button {
  background-color: #208bee;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 40px;
  margin: 10px auto 0px;
  align-self: center;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.register .register-box__button button:hover {
  background-color: #1d6cb6;
}

/* ***************** R E S P O N S I V E ****************** */

@media all and (max-width: 1632px) {
  .register {
    width: 100%;
    margin: 50px 0px;
  }
  .register-box {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-box__username,
  .register-box__password,
  .register-box__passwordRepeat {
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  .register {
    width: 100%;
    margin: 50px 0px;
  }
  .register-box {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-box__username,
  .register-box__password,
  .register-box__passwordRepeat {
    width: 100%;
  }
  .register-box input::placeholder {
    /* color: red !important; */
    text-align: right;
  }
}
@media all and (max-width: 992px) {
  .register {
    width: 100%;
    margin: 60px 0px;
  }
  .register-box {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-box__username,
  .register-box__password,
  .register-box__passwordRepeat {
    width: 100%;
  }
  .register-box input::placeholder {
    color: red !important;
  }
}
@media all and (max-width: 768px) {
  .register {
    width: 100%;
    margin: 60px 0px;
  }
  .register-box {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-box__username,
  .register-box__password,
  .register-box__passwordRepeat {
    width: 100%;
  }
  .register-box input::placeholder {
    color: red !important;
  }
}
@media all and (max-width: 576px) {
  .register {
    width: 100%;
    margin: 0px 0px;
  }
  .register-box {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-box__username,
  .register-box__password,
  .register-box__passwordRepeat {
    width: 100%;
  }
  .register-box input::placeholder {
    color: red !important;
  }
}
@media all and (max-width: 477px) {
  .register {
    width: 100%;
    margin: 70px 0px;
  }
  .register-box {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-box__username,
  .register-box__password,
  .register-box__passwordRepeat {
    width: 100%;
  }
  .register-box input::placeholder {
    color: red !important;
  }
  input {
    width: 100%;
  }
}
@media all and (max-width: 465px) {
  .register {
    width: 100%;
    margin: 70px 0px;
  }
  .register-box {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-box__username,
  .register-box__password,
  .register-box__passwordRepeat {
    width: 100%;
  }
  .register-box input::placeholder {
    color: red !important;
  }
  .footer {
    padding: 30px;
  }
  input {
    width: 100%;
  }
  .register-box {
    padding: 20px !important;
  }
  .register-box input {
    width: 100%;
    height: auto;
    overflow: hidden !important;
  }
  .register-box__placeholder {
    font-size: 13px !important;
  }
}
@media all and (max-width: 377px) {
  .register {
    width: 100%;
    margin: 70px 0px;
  }
  .register-box {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-box__username,
  .register-box__password,
  .register-box__passwordRepeat {
    width: 100%;
  }
  .register-box input::placeholder {
    color: red !important;
  }
  input {
    width: 100%;
  }
  .register-box {
    padding: 20px !important;
  }
  .register-box input {
    width: 100%;
    height: auto;
    overflow: hidden !important;
  }
  .register-box__placeholder {
    font-size: 11px !important;
  }
}
</style>