<template>
  <div class="register-done">
    <div class="register-done__box">
      <img src="../assets/svgs/books.svg" alt="books" />
      <h3>ثبت نام شما با موفقیت انجام شد</h3>
      <router-link :to="{name: 'Register1View'}">
          <button>ورود به سایت</button>
      </router-link>
    </div>
  </div>
</template>

<script>

export default {
};
</script>

<style scoped>
.register-done {
  height: calc(100vh - 208px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.register-done__box h3 {
  margin: 30px 0px;
}
.register-done__box button {
  background-color: #208bee;
  border: none;
  padding: 10px 35px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
.register-done__box button:hover {
  background-color: #0f5fa6;
}
</style>