<template>
  
  <Slider v-if="!isLogged" />
  <!-- <Slider1 v-if="!isLogged" /> -->
  <SecondHeaderHome v-if="isLogged" />
  <PostCollection />

  <div class="seperator" v-if="isLogged">
    <p class="seperator__title">مقالات شما</p>
    <div class="seperator__line"></div>
  </div>

  <ShowAuthorPosts v-if="isLogged" :authorDetails="savedUser.username" />
</template>

<script>
import Slider from "../components/Slider.vue";
import Slider1 from "../components/Slider1.vue";
import SecondHeaderHome from "../components/SecondHeaderHome.vue";
import PostCollection from "../components/PostCollection.vue";
import ShowAuthorPosts from "../components/ShowAuthorPosts.vue";

export default {
  name: "RegisterView",
  data() {
    return {
      isLogged: false,
      savedUser: JSON.parse(localStorage.getItem("loggedInUser")),
    };
  },
  mounted() {
    if (this.savedUser) {
      this.isLogged = true;
      console.log(this.isLogged);
    }
  },
  components: {
    Slider,
    Slider1,
    SecondHeaderHome,
    PostCollection,
    ShowAuthorPosts,
  },
};
</script>

<style scoped>
.seperator {
  width: 80%;
  margin: 0px auto;
}
.seperator__title {
  width: 80px;
  border-bottom: 3px solid #208bee;
  text-align: center;
  margin: 0;
}
.seperator__line {
  border-bottom: 2px solid #deeaf5;
  margin-top: -1px;
}
</style>
