<template>
  <ShowPost :post="takenPost" />
  <router-view />
</template>

<script>
import posts from "../assets/data/posts.js";
import ShowPost from "../components/ShowPost.vue";

export default {
  props: ["id"],
  data() {
    return {
      takenPost: {},
      posts,
    };
  },
  beforeMount() {
    this.takenPost = this.posts.find((post) => {
      return this.$route.params.id === post.id;
    });
  },
  components: {
    ShowPost,
  },
};
</script>

<style>
</style>