<template>
  <div class="" style="position: relative">
    <StoryWritingAlert v-if="showAlert" @newTag="addNewTagBox($event)">
      <div class="alert-box__close">
        <i
          class="fas fa-times"
          style="font-size: 20px"
          @click="changeAlertStatus"
        ></i>
      </div>
      <template v-slot:addTagBtn>
        <div class="alert-box__btn" @click="changeAlertStatus">
          <button>تایید</button>
        </div>
      </template>
    </StoryWritingAlert>
    <CreatePost>
      <img
        src="../assets/svgs/story-writing-badge.svg"
        alt=""
        class="create-post__img-badge"
        @click="changeAlertStatus"
      />
      <div class="create-post__badge-boxs">
        <router-link
          :to="{ path: '/' }"
          class="create-post__badge-box"
          v-for="badge in badges"
          :key="badge"
          >{{ badge }}</router-link
        >
      </div>
    </CreatePost>
  </div>
</template>

<script>
import StoryWritingAlert from "../components/StoryWritingAlert.vue";
import CreatePost from "../components/CreatePost.vue";

export default {
  data() {
    return {
      showAlert: false,
      badges: [],
    };
  },
  methods: {
    // uploadPostImg() {
    //   console.log(this.$refs.imgInput.value);
    // },
    changeAlertStatus() {
      this.showAlert = !this.showAlert;
    },
    addNewTagBox(tag) {
      console.log(tag);
      this.badges.push(tag);
    },
  },
  components: {
    StoryWritingAlert,
    CreatePost,
  },
};
</script>

<style scoped>
/* StoryWritingAlert component styles */
.alert-box__close {
  display: flex;
  justify-content: flex-end;
}
.alert-box__close i {
  padding: 4px 7px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  border-radius: 2px;
}
.alert-box__close i:hover {
  background-color: red;
  color: white;
}

/* CreatePost component styles */
.create-post__img-badge {
  width: 7%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.create-post__img-badge:hover {
  transform: scale(1.09);
}
.create-post__badge-boxs {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.create-post__badge-box {
  background-color: #deeaf5;
  text-decoration: none;
  margin-left: 11px;
  display: inline-block;
  padding: 3px 14px 6px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  color: #208bee;
}

/* story writing alert __ add tag button */
.alert-box__btn {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 18px;
}
.alert-box__btn button {
  background-color: #208bee;
  color: white;
  border: 0;
  padding: 6px 28px 8px;
  cursor: pointer;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
}
.alert-box__btn button:hover {
  background-color: #1d6db8;
}
</style>