<template>
  <div class="commenting">
    <p class="commenting__title">نظر دادن</p>
    <div class="commenting__line"></div>

    <form class="commenting__form">
      <input
        type="text"
        name=""
        placeholder="* نام"
        id=""
        class="commenting__input commenting__input--firstname"
        required
      />
      <input
        type="text"
        name=""
        placeholder="* نام خانوادگی"
        class="commenting__input commenting__input--lastname"
        required
      />
      <input
        type="emaile"
        id="email"
        placeholder="* پست الکترونیک"
        class="commenting__input commenting__input--email"
        required
      />
      <textarea
        style="resize: none"
        required
        class="commenting__input commenting__input--message"
        placeholder="* نظر دادن"
      ></textarea>
      <div class="commenting__button">
        <input type="submit" class="commenting__btn" value="ثبت نظر" />
      </div>
    </form>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.commenting {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
  margin: auto;
}
.commenting input::placeholder {
  text-align: right;
}
.commenting .commenting__title {
  width: 80px;
  border-bottom: 3px solid #208bee;
}
.commenting .commenting__line {
  border-bottom: 2px solid #deeaf5;
}
.commenting__form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0px 10px;
}
.commenting__input{
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid #6382a0;
    padding: 8px 10px;
    cursor: pointer;
    transition: ease-in-out .2s;
}
.commenting__input:focus{
    outline: none;
    background-color: #deeaf5;
    border-bottom: 3px solid #208bee;
}
.commenting__input--firstname{
    text-align: right;
    width: 20%;
}
.commenting__input--lastname{
    width: 20%;
    text-align: right;
}
.commenting__input--email{
    width: 50%;
    text-align: left;
}
.commenting__input--message{
    width: 100%;
    text-align: right;
    margin-top: 20px;
}
.commenting__button{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 30px;
}
.commenting__btn{
    background-color: #208bee;
    color: white;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 5px 20px 7px;
    transition: ease-in-out .4s;
}
.commenting__btn:hover{
    background-color: #1b6dba;
}
/* .commenting .commenting-firs-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.commenting .commenting-firs-row #email {
  width: 45%;
}
.commenting .commenting-firs-row form {
  margin: 10px 0px 20px;
} */
/* .commenting .commenting__input {
  font-family: kalameh;
  color: #445161;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  padding: 15px;
  width: auto;
} */
/* .commenting .commenting-input:hover {
  cursor: pointer;
}
.commenting .commenting-input:focus {
  background-color: rgba(185, 180, 180, 0.253);
  border-bottom: 0.2rem solid #208bee;
  padding: 15px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.commenting .container-btn-sub .btn-sub {
  font-family: kalameh;
  background-color: #208bee;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
} */
</style>