<template>
  <div class="connection-error">
    <div class="error-box">
        <img src="../assets/svgs/connection-error.svg" alt="">
      <p>در حال حاضر ارتباط با سرور قطع می‌باشد. لطفا بعدا مجدد تلاش کنید.</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.connection-error{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.442);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.error-box{
    margin-top: 150px;
    width: 40%;
    background-color: #E54839;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}
.error-box p{
    color: white;
    margin: 0;
}
.error-box img{
    margin-left: 8px;
}
</style>