<template>
  <div class="create-post">
    <div class="create-post-box">
      <div class="create-post__header">
        <img src="../assets/svgs/story-writing-pen.svg" alt="" />
        <h5>ایجاد مطلب جدید</h5>
      </div>
      <form class="create-post__form" @submit.prevent="validation">
        <!-- <div
          class="create-post__img"
          :style="{
            'background-image': `imagePath`,
          }"
        >
          <label for="img">
            <input
              type="file"
              name="img"
              id="img"
              ref="imgInput"
              @change="uploadPostImg"
            />
            <div class="create-post__img-tags">
              <img
                src="../assets/svgs/story-writing-zoom.svg"
                alt=""
                class="create-post__img-tag"
              />
              <img
                src="../assets/svgs/story-writing-addImg.svg"
                alt=""
                class="create-post__img-tag"
              />
            </div>
          </label>
        </div> -->
        <div class="create-post__upload-image">
          <div class="create-post__upload">
            <div class="create-post__img-tags">
              <img
                src="../assets/svgs/story-writing-zoom.svg"
                alt=""
                class="create-post__img-tag"
              />
              <img
                src="../assets/svgs/story-writing-addImg.svg"
                alt=""
                class="create-post__img-tag"
              />
            </div>
            <label for="image"></label>
            <div class="create-post__upload-input">
              <input
                type="file"
                name="image"
                id="image"
                @change="uploadPostImg"
              />
            </div>
          </div>

          <div class="create-post__image">
            <!-- <input type="image" :src="form.image" alt="" /> -->
            <!-- <img
              :src="
                require('E:/part/helium-plus-router/helium-plus-app/src/assets/images/3.jpg')
              "
              alt="post image"
            /> -->
            <img :src="form.image" alt="post-image" />
          </div>
        </div>
        <div class="create-post__add-badges">
          <slot></slot>
        </div>
        <div class="create-post__title">
          <input
            type="text"
            placeholder="عنوان مطلب خود را وارد کنید"
            v-model="form.title"
          />
          <span v-if="titleError">عنوان پست اجباری است!</span>
        </div>
        <div class="create-post__body">
          <textarea
            name=""
            id=""
            cols="30"
            rows="5"
            placeholder="متن اصلی خود را وارد کنید ..."
            v-model="form.body"
          ></textarea>
          <span v-if="bodyError">متن پست اجباری است!</span>
        </div>
        <div class="create-post__button">
          <input type="submit" value="انتشار مطلب" />
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      src: "1.jpg",
      src2: null,
      // src: require(src1),
      form: {
        title: "",
        body: "",
        // image: require("../assets/svgs/story-writing-mountains.svg"),
        image: require("../assets/svgs/story-writing-mountains.svg"),
        // image: require(`../assets/svgs/${src}`),
        badges: [],
      },
      title: "",
      body: "",
      titleError: false,
      bodyError: false,
    };
  },
  computed() {
    this.src2 = `../assets/images/${this.src}`;
  },
  // computed: {
  //   imagePath() {
  //     alert(1)
  //     return require(`${this.form.image}`);
  //   },
  // },
  methods: {
    getDate() {
      let date = new Date();
      return `${date.getUTCFullYear()}, ${date.getMonth()}, ${date.getUTCDate()}`;
    },
    uploadPostImg(event) {
      this.src = event.target.files[0].name;
      console.log(this.form.image);
    },
    validation() {
      console.log(this.title, "*", this.body);
      console.log(this.form.body);
      if (this.form.title === "") {
        this.titleError = true;
      } else {
        this.titleError = false;
      }
      if (this.form.body === "") {
        this.bodyError = true;
      } else {
        this.bodyError = false;
      }
      if (this.form.title !== "" && this.form.body !== "") {
        this.createPost();
        this.form.title = "";
        this.form.body = "";
      }
    },
    createPost() {
      // const formData = new FormData();
      // formData.append("image", this.form.image, this.form.image.name);
      // formData.append("title", this.form.title);
      // formData.append("body", this.form.body);
      // axios.post("http://localhost:3000/posts", formData, {}).then((res) => {
      //   console.log(res);
      // });
      axios
        .post("http://localhost:3000/posts", {
          title: this.form.title,
          body: this.form.body,
          time: this.getRndInteger(1, 10),
          date: this.getDate(),
        })
        .then((response) => {
          console.log(response);
          Swal.fire({
            position: "top-start",
            icon: "success",
            title: "پست شما با موفقیت ذخیره شد",
            showConfirmButton: false,
            timer: 1500,
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getRndInteger(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
  },
};
</script>

<style scoped>
.create-post__upload-input input {
  opacity: 0;
}
.create-post__upload-image {
  position: relative;
}
.create-post__image img {
  width: 100%;
}
.create-post__img-tags {
  z-index: 10;
}
.create-post__upload {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-post__upload label {
  width: 100%;
  position: absolute;
  height: 100%;
}
.create-post {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}
.create-post-box {
  width: 40%;
  margin-bottom: 50px;
}
.create-post__header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.create-post__header img {
  width: 20px;
  margin-left: 8px;
}
.create-post__img label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .create-post__img-tags-box{
    width: 30%;
} */
.create-post__img-tags {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.create-post__img-tag {
  width: 27%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.create-post__img-tag:hover {
  transform: scale(1.09);
}
.create-post__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: -34px -9px;
  width: 100%;
  height: 420px;
  border-radius: 7px;
}
.create-post__img label > img {
  width: 100%;
}
.create-post__img input[type="file"] {
  opacity: 0;
}
.create-post__add-badges {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
.create-post__img-badge {
  width: 7%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.create-post__img-badge:hover {
  transform: scale(1.09);
}
.create-post__title,
.create-post__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.create-post__title span,
.create-post__body span {
  display: block;
  color: red;
  font-size: 14px;
  font-weight: 600;
}
.create-post__title input:focus,
.create-post__body textarea:focus {
  outline: 0;
}
.create-post__title input {
  text-align: right;
  border: none;
  width: 100%;
  height: 50px;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  overflow-y: scroll;
  margin-top: 15px;
}
.create-post__title input::placeholder {
  font-size: 18px;
  font-weight: 600;
}
.create-post__body textarea {
  text-align: right;
  border: none;
  width: 100%;
  padding: 14px;
  font-size: 16px;
  overflow-y: auto;
  margin-top: 15px;
}
.create-post__button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.create-post__button input {
  background-color: #208bee;
  color: white;
  border: none;
  padding: 10px 35px;
  cursor: pointer;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
}
.create-post__button input:hover {
  background-color: #1d6db8;
}

/* ************ R E S P O N S I V E **************** */
@media all and (max-width: 1200px) {
  .create-post-box {
    width: 50%;
  }
}
@media all and (max-width: 992px) {
  .create-post-box {
    width: 60%;
  }
}
@media all and (max-width: 576px) {
  .create-post-box {
    width: 70%;
  }
  .create-post__add-badges img {
    width: 30% !important;
  }
}
</style>