<template>
  <footer class="footer">
    <div class="footer__box">
      <div class="footer__logo">
        <a href="#">
          <figure>
            <img src="../assets/svgs/logo-footer.svg" alt="" />
          </figure>
        </a>
      </div>
      <div class="footer__description">
        <p>
          هلیوم بستری برای اشتراک گذاری ایده ها و فکر آزاد پیشرو در زمینه علم و
          دانش است. در هلیوم می توانید به جدید ترین مقالات علمی کشور دسترسی
          داشته باشید و خود نیز در ترویج علم و دانش نقشی داشته باشید.
        </p>
      </div>
      <nav class="footer__nav">
        <ul>
          <li><a href="#">بنویسید</a></li>
          <li><a href="#">راهنما</a></li>
          <li><a href="#">معرفی به دوستان</a></li>
          <li><a href="#">قوانین</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__pattern"></div>
  </footer>
</template>

<script>
export default {};
</script>

<style scoped>
.footer {
  background-color: #222f3d;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  position: relative;
}
.footer__pattern {
  background-image: url(../assets/svgs/footer-pattern.svg);
  width: 50%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.footer__box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}
.footer__logo figure,
.footer__description p,
.footer__nav ul{
  margin-bottom: 0;
}

.footer__logo {
  display: flex;
  align-items: center;
  width: 11%;
}
.footer__description {
  width: 50%;
}
.footer__description p {
  font-size: 14px;
  color: white;
  text-align: right;
}
.footer__nav {
  width: 30%;
}
.footer__nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__nav ul li {
  list-style: none;
}
.footer__nav ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
.footer__nav ul li a:hover {
  color: #cccccc;
}

/* ************ R E S P O N S I V E ******************* */

@media all and (max-width: 1200px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 40%;
  }
  .footer {
    padding: 40px;
  }
  .footer__box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer__logo {
    flex-basis: 18%;
  }
  .footer__description {
    flex-basis: 40%;
    margin: 0px 0px;
  }
  .footer__nav {
    flex-basis: 36%;
    margin: 0px auto 0px;
  }
}
@media all and (max-width: 992px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 45%;
  }
  .footer {
    padding: 50px;
  }
  .footer__box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer__logo {
    flex-basis: 20%;
  }
  .footer__description {
    flex-basis: 30%;
    margin: 0px 0px;
  }
  .footer__nav {
    flex-basis: 40%;
    margin: 0px auto 0px;
  }
}
@media all and (max-width: 768px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 50%;
  }
  .footer {
    padding: 40px;
  }
  .footer__box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer__logo {
    flex-basis: 50%;
  }
  .footer__description {
    flex-basis: 50%;
    margin: 0px 0px;
  }
  .footer__nav {
    flex-basis: 70%;
    margin: 40px auto 0px;
  }
}
@media all and (max-width: 575px) {
  .register {
    width: 100%;
  }
  .register-box {
    flex-basis: 70%;
  }
  .footer {
    padding: 50px;
  }
  .footer__box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer__logo {
    flex-basis: 100%;
  }
  .footer__description {
    flex-basis: 100%;
    margin: 20px 0px;
  }
  .footer__nav {
    flex-basis: 100%;
    margin: 0px auto 0px;
  }
}
</style>