<template>
  <header class="header">
    <div class="header__row">
      <div class="header__logo">
        <router-link :to="{name: 'RegisterView'}">
          <figure><img src="../assets/svgs/logo.svg" alt="logo" /></figure>
        </router-link>
      </div>
      <div class="header__gadgets">
        <slot></slot>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
};
</script>


<style>
.header {
  background-color: #fafafa;
  padding: 23px 0px;
  display: flex;
  justify-content: center;
}
.header .header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.header .header__gadgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__button {
  border: 1px solid #8593a6;
  background-color: #fafafa;
  padding: 6px 15px;
  border-radius: 4px;
  margin-right: 15px;
  color: #208bee;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.header .header__button:hover {
  background-color: #208bee;
  color: white;
  border: 1px solid #208bee;
}
.header .header__search {
  cursor: pointer;
  margin-right: 12px;
}
.header .header__user {
  cursor: pointer;
  margin-right: 12px;
}
.header .header__notification {
  cursor: pointer;
  margin-right: 12px;
}
.header__logo figure{
  margin: 0;
}
/* ********** R E S P O N S I V E ************ */
@media all and (max-width: 465px) {
  .header__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>
