<template>
  <article class="post-boxs__post">
    <router-link
      class="post-boxs__author"
      :to="{
        name: 'ProfileView',
        params: { username: post.author.username },
      }"
    >
      <div class="post-boxs__author-box">
        <div class="post-boxs__author__img">
          <figure>
            <img :src="post.author.image" alt="" />
          </figure>
        </div>
        <div class="post-boxs__author__about">
          <h6 class="">{{ post.author.name }}</h6>
          <p class="m-0">{{ post.author.date }}</p>
        </div>
      </div>
    </router-link>
    <figure>
      <a href="#" class="post-boxs__img">
        <div class="cover"></div>
        <img v-if="postId === '1'" src="@/assets/svgs/blog1.svg" />
        <img v-if="postId === '2'" src="@/assets/svgs/blog2.svg" />
        <img v-if="postId === '3'" src="@/assets/svgs/blog3.svg" />
        <img v-if="postId === '4'" src="@/assets/svgs/blog4.svg" />
        <!-- <img
          :src="
            postId === 0
              ? '@/assets/svgs/blog1.svg'
              : postId === 1
              ? '@/assets/svgs/blog2.svg'
              : '@/assets/svgs/blog3.svg'
          "
          alt=""
        /> -->
      </a>
    </figure>
    <div class="post-boxs__paragraphs">
      <h4 @click="gotToShowPost">
        {{ post.title }}
        <!-- <router-link :to="{name:'ShowPostView',params:{id: postId}}" >{{ post.title }}</router-link> -->
      </h4>
      <p>
        {{ post.summary }}
      </p>
    </div>
    <footer class="post-boxs__details">
      <p>{{ post.time }} دقیقه مطالعه</p>
      <div class="post-boxs__details__sep"></div>
      <a
        href="#"
        class="post-boxs__details__badge"
        v-for="(badge, index) in post.badges"
        :key="index"
        >{{ badge }}</a
      >
    </footer>
  </article>
</template>

<script>
// ${$route.params.id}
export default {
  props: ["post", "postId"],
  methods: {
    gotToShowPost() {
      this.$router.push({ path: `posts/${this.postId}` });
    },
  },
};
</script>

<style scoped>
.post-boxs__post {
  width: 30.9%;
  text-align: right;
  margin-top: 40px;
}
.post-boxs__post a {
  text-decoration: none;
}
.post-boxs__author {
  display: inline-block;
}
.post-boxs__author-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-boxs__author__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-boxs__author__img img {
  margin-top: 15px;
}
.post-boxs__author__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 12px;
}
.post-boxs__author__about h6 {
  font-size: 14px;
  font-weight: 100;
  color: black;
}
.post-boxs__author__about p {
  font-size: 11px;
  color: #8593a6;
}
.post-boxs figure a > div {
  background-color: rgba(0, 183, 255, 0.392);
  z-index: 20;
  position: absolute;
  width: 374px;
  height: 0px;
  transition: height 0.4s linear 0s;
}
.post-boxs figure a:hover > div {
  height: 247px;
}
.post-boxs__img img{
  width: 100%;
}
.post-boxs__paragraphs h4 {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.post-boxs__paragraphs p {
  color: #445161;
  font-size: 16px;
  margin: 9px 0px;
}
.post-boxs__details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.post-boxs__details p {
  font-size: 11px;
  color: #8593a6;
  margin-bottom: 2px;
}
.post-boxs__details__sep {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #8593a6;
  margin: 0px 10px;
}
.post-boxs__details__badge {
  background-color: #deeaf5;
  text-decoration: none;
  margin-left: 11px;
  display: inline-block;
  padding: 3px 7px 6px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  color: #208bee;
}

/* ********** R E S P O N S I V E ************ */
@media all and (max-width: 992px){
  .post-boxs__post{
    width: 45%;
  }
}
@media all and (max-width: 672px){
  .post-boxs__post{
    width: 48%;
  }
}
@media all and (max-width: 514px){
  .post-boxs__post{
    width: 80%;
  }
}
@media all and (max-width: 420px){
  .post-boxs__post{
    width: 100%;
  }
}
</style>