<template>
  <div class="posts">
    <div class="post-boxs">
      <Post
        v-for="(post, index) in posts"
        :key="index"
        :post="post"
        :postId="post.id"
      />
    </div>
  </div>
</template>

<script>
// import axios from "axios";
import Post from "../components/Post.vue";
import posts from '../assets/data/posts.js'

export default {
  components: {
    Post,
  },
  data() {
    return {
      posts,
    };
  },
  // methods: {
  //   getPost() {
  //     axios.get(`http://localhost:3000/posts`).then((response) => {
  //       console.log(response.data);
  //       response.data.forEach((post) => {
  //         this.posts.push(post);
  //       });
  //       this.posts = response.data;
  //     });
  //   },
  // },
  // beforeMount() {
  //   this.getPost();
  // },
  // mounted() {
  //   console.log(this.posts);
  // },
};
</script>

<style scoped>
.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.post-boxs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ********** R E S P O N S I V E ************ */
@media all and (max-width: 992px) {
  .post-boxs {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 514px) {
  .post-boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>