<template>
  <div class="profile">
    <div class="profile__header">
      <div class="profile__author">
        <div class="profile__author-img">
          <img :src="authorDetails.image" alt="" />
        </div>
        <div class="profile__author-txt">
          <h1>{{ authorDetails.name }}</h1>
          <div class="profile__author-username">
            <img src="../assets/svgs/profile-user.svg" alt="" />
            <h4 style="margin-right: 5px">{{ authorDetails.username }}</h4>
          </div>
        </div>
      </div>
      <div class="profile__author-details">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import registers from "../assets/data/registers.js";
export default {
  props: ["post"],
  data() {
    return {
      authorDetails: {},
      src: "",
    };
  },
  beforeMount() {
    this.authorDetails = registers.find((user) => {
      return user.username === this.$route.params.username;
    });
    console.log(this.authorDetails.image);
    this.src = this.authorDetails.image;
  },
};
</script>

<style scoped>
.profile {
  display: flex;
  justify-content: center;
}
.profile__header {
  background-image: url("../assets/svgs/profile-bg.svg");
  background-size: cover;
  height: 150px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  margin: 30px 0px;
}
.profile__author {
  display: flex;
}
.profile__author-img {
  display: flex;
  align-items: center;
}
.profile__author-img img {
  width: 75px;
  margin: 11px 0px 0px 15px;
}
.profile__author h1 {
  color: white;
}
.profile__author h4 {
  color: #ffffffd8;
}
.profile__author-username {
  display: flex;
  margin-top: 8px;
}
.profile__author-details button {
  border: 2px solid #ffffff26;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px 15px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: ease-in-out 0.3s;
}
.profile__author-details button:hover {
  border: 2px solid #ffffff;
}

/* ********** R E S P O N S I V E *************** */
@media all and (max-width: 768px) {
  .profile__header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile__author {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .profile__author-img {
    display: flex;
    justify-content: center;
  }
  .profile__author-img img {
    width: 80px;
  }
  .profile__author-details {
    margin-bottom: 20px;
    display: block;
  }
}
@media all and (max-width: 393px) {
  .profile__header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile__author {
    margin-bottom: 20px;
  }
  .profile__author-details {
    margin-bottom: 20px;
    display: block;
  }
  .profile__author-txt {
    text-align: center;
  }
  .profile__author-txt h1 {
    font-size: 19px;
  }
  .profile__author-img {
    display: flex;
    justify-content: center;
  }
  .profile__author-img img {
    width: 60px;
  }
}
</style>