<template>
  <div class="cover">
    <div class="cover__box">
      <div class="cover__details">
        <div class="cover__img">
          <img v-if="post.id === '1'" src="@/assets/svgs/person2.svg" />
          <img v-if="post.id === '2'" src="@/assets/svgs/person3.svg" />
          <img v-if="post.id === '3'" src="@/assets/svgs/person4.svg" />
        </div>
        <div class="cover__txt">
          <h2>{{ post.author.name }}</h2>
          <h4>{{ post.author.username }}</h4>
        </div>
      </div>
      <div class="cover__contact">
        <div class="cover__contact--email">
          <img src="@/assets/svgs/profile-email.svg" alt="" />
          <p class="email">{{ post.author.contact.email }}</p>
        </div>
        <div class="cover__contact--number">
          <img src="@/assets/svgs/profile-mobile.svg" alt="" />
          <p class="mobile">{{ post.author.contact.mobile }}</p>
        </div>
      </div>
      <div class="cover__btn">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["post"],
};
</script>

<style scoped>
.cover {
  position: absolute;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover__box {
  background-color: white;
  width: 25%;
  padding: 20px;
  border-radius: 8px;
}
.cover__details {
  display: flex;
  align-items: center;
  text-align: right;
}
.cover__img {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-left: 14px;
}
.cover__contact {
  text-align: right;
  margin-top: 15px;
}
.cover__contact--email,
cover__contact--mobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cover__contact--email img,
.cover__contact--mobile img {
  margin-top: 5px;
}
.email,
.mobile {
  display: inline;
  margin-right: 10px;
}
.cover__btn {
  display: flex;
  justify-content: flex-end;
}

/* ********** R E S P O N S I V E *************** */
@media all and (min-width: 1650px) {
  .cover__box {
    width: 20%;
  }
}
@media all and (max-width: 1200px) {
  .cover__box {
    width: 30%;
  }
}
@media all and (max-width: 992px) {
  .cover__box {
    width: 40%;
  }
}
@media all and (max-width: 786px) {
  .cover__box {
    width: 50%;
  }
}
@media all and (max-width: 576px) {
  .cover__box {
    width: 60%;
  }
}
@media all and (max-width: 469px) {
  .cover__box {
    width: 80%;
  }
}
@media all and (max-width: 334px) {
  .cover__box {
    /* width: 90%; */
    font-size: 12px;
  }
}
</style>