<template>
  <div class="second-header">
    <div class="secondary-header">
      <div class="secondary-header__tags">
        <p>موضوعات انتخابی</p>
        <div class="secondary-header__tags-box">
          <a
            href="#"
            class="secondary-header__tag-box"
            v-for="(tag, index) in tags"
            :key="index"
            >{{ tag }}</a
          >
        </div>
        <div class="secondary-header__input-tag" v-if="inputTag">
          <input type="text" v-model="newTag" ref="tagInput" />
        </div>
        <button
          class="secondary-header__add-tag_"
          v-if="inputTag"
          @click="addTag"
        >
          افزودن
        </button>
        <div
          class="secondary-header__add-tag"
          @click="showInputTag"
          v-if="showPlus"
        >
          <i class="fas fa-plus"></i>
        </div>
      </div>
      <div class="secondary-header__add-post-btn">
        <router-link :to="{ name: 'StoryWritingView' }"
          >ایجاد مطلب جدید</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tags: ["تکنولوژی", "ناو تکنولوژی", "مهندسی پزشکی"],
      showAddTag: false,
      inputTag: false,
      showPlus: true,
      newTag: "",
    };
  },
  methods: {
    showInputTag() {
      this.inputTag = true;
      this.showPlus = false;
    },
    addTag() {
      //   console.log(this.$ref.tagInput);
      this.inputTag = false;
      this.showPlus = true;
      this.tags.push(this.newTag);
    },
  },
};
</script>

<style scoped>
.second-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #0000001a;
  padding: 20px 0px;
}
.secondary-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondary-header__tags {
  width: 60%;
  display: flex;
  /* justify-content: space-between; */
}
.secondary-header p {
  margin: 0;
  margin-left: 18px;
}
.secondary-header__tag-box {
  background-color: #deeaf5;
  text-decoration: none;
  margin-left: 11px;
  display: inline-block;
  padding: 3px 7px 6px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  color: #208bee;
}
.secondary-header__add-tag {
  background-color: #208bee;
  color: white;
  border-radius: 50%;
  padding: 3px 8px 3px 7px;
  cursor: pointer;
  margin-right: 10px;
}
.secondary-header__input-tag input {
  background-color: #deeaf5;
  border-radius: 5px;
  font-size: 13px;
  padding: 4px 5px;
  border: 0;
}
.secondary-header__input-tag input:focus {
  outline: 0;
}
.secondary-header__add-tag_ {
  background-color: #208bee;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 2px 15px 3px;
  margin-right: 10px;
}
.secondary-header__add-post-btn a {
  text-decoration: none;
  color: #208bee;
  border: 2px solid #208bee;
  padding: 5px 15px 6px;
  border-radius: 4px;
  transition: ease-in-out 0.4s;
}
.secondary-header__add-post-btn a:hover {
  background-color: #208bee;
  color: white;
}

/* ********** R E S P O N S I V E *************** */
@media all and (max-width: 870px) {
  .secondary-header__tags {
    width: 70%;
  }
}
@media all and (max-width: 746px) {
  .secondary-header__tags {
    width: 80%;
  }
  .secondary-header__add-post-btn{
    font-size: 10px;
  }
}
@media all and (max-width: 670px) {
  .secondary-header{
    flex-wrap: wrap;
  }
  .secondary-header__tags {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .secondary-header__add-post-btn{
    font-size: 12px;
    order: 0;
    margin: 0px auto;
  }
}
@media all and (max-width: 522px) {
  .secondary-header{
    flex-wrap: wrap;
  }
  .secondary-header__tags {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .secondary-header__tags p{
    font-size: 12px;
  }
  .secondary-header__tags-box a{
    font-size: 10px;
  }
  .secondary-header__add-post-btn{
    font-size: 12px;
    /* margin-bottom: 25px; */
    order: 0;
  }
}
@media all and (max-width: 451px) {
  .secondary-header__tags{
    flex-wrap: wrap;
    justify-content: center;
  }
  .secondary-header__tags p{
    width: 70%;
  }
  /* .secondary-header__add-tag{
    display: inline-block;
    margin-top: 10px;
  } */
}
</style>