<template>
  <article>
    <header>
      <div class="article-detailes">
        <div class="article-detailes__auther">
          <a>
            <figure>
              <img :src="post.author.image" alt="">
            </figure>
          </a>
          <div class="article-detailes__auther-details">
            <p class="article-detailes__auther-name">{{ post.author.name }}</p>
            <span class="article-detailes__auther-date">{{
              post.author.date
            }}</span>
          </div>
        </div>
        <div class="article-detailes__head">
          <h1 class="title">
            {{ post.summary }}
          </h1>
        </div>
        <div class="article-detailes__reading">
          <span class="article-detailes__reading-time">
            {{ post.time }} دقیقه مطالعه
          </span>
          <div class="article-detailes__reading-dot"></div>
          <a
            href="#"
            class="post-boxs__details__badge"
            v-for="(badge, index) in post.badges"
            :key="index"
            >{{ badge }}</a
          >
        </div>
      </div>
    </header>

    <div class="content">
      <figure>
        <img :src="post.image[0]" alt="" />
      </figure>
      <p>{{ post.body }}</p>
      <figure>
        <img src="../assets/svgs/blog1-2.svg" />
      </figure>
      <p>
        {{ post.body1 }}
      </p>
    </div>
  </article>
  <ShowComments :post="post" />
  <AddComment />
</template>

<script>
import AddComment from "../components/AddComment.vue";
import ShowComments from "../components/ShowComments.vue";

export default {
  props: ["post"],
  components: {
    AddComment,
    ShowComments,
  },
};
</script>

<style scoped>
.article-detailes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 20px 0px;
  text-align: right;
}
.article-detailes__auther {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 8px;
}
.article-detailes__auther figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article-detailes__auther-details {
  margin-right: 10px;
}
.article-detailes__auther-name {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}
.article-detailes__auther-date {
  font-size: 10px;
  font-weight: 200;
  color: #445161;
}
.article-detailes__head .title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.6;
}
.post-boxs__details__badge {
  background-color: #deeaf5;
  text-decoration: none;
  margin-left: 11px;
  display: inline-block;
  padding: 3px 7px 6px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  color: #208bee;
}
.article-detailes__reading {
  margin-top: 12px;
}
.article-detailes__reading-time {
  font-size: 10px;
  font-weight: bold;
  color: #445161;
}
.article-detailes__reading-dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #8593a6;
  border-radius: 50%;
  margin: 0px 5px;
}
.article-detailes__reading-category {
  font-size: 10px;
  font-weight: bold;
  color: #208bee;
  background-color: #deeaf5;
  padding: 3px 8px;
  border-radius: 4px;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.content figure img {
  margin: 20px 0px;
  width: 100%;
}
.content p {
  margin: 10px 0px;
  text-align: justify;
}
.content .img-blog {
  width: 100%;
}
.content h2 {
  margin: 20px 0px 0px;
}
.content h2 + p {
  margin: 10px 0px 20px;
}
.content .discription {
  text-align: justify;
  padding: 10px 0px;
  color: green;
}
</style>