<template>
  <div class="comments">
    <div class="seperator">
      <p class="seperator__title">نظرات</p>
      <div class="seperator__line"></div>
    </div>

    <div
      class="comments__box"
      v-for="(comment, index) in post.comments"
      :key="index"
    >
      <h4 class="comments__author">{{ comment.author }}</h4>
      <div class="comments__caption">
        {{ comment.message }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["post"],
};
</script>

<style scoped>
.comments {
  width: 50%;
  margin: 150px auto 50px;
  text-align: right;
}
.comments__box {
  margin-top: 15px;
}
.seperator__title {
  width: 80px;
  border-bottom: 3px solid #208bee;
  text-align: center;
}
.seperator__line {
  border-bottom: 2px solid #deeaf5;
  margin-top: -1px;
}
.comments .comments__person {
  font-weight: bold;
  padding: 5px 0px;
}
.comments .comments__caption {
  padding: 10px 0px;
  border-bottom: 2px solid #deeaf5;
}
.comments .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>