<template>
  <!-- <PostCollection/> -->
  <div class="posts">
    <div class="post-boxs">
      <Post
        v-for="(post, index) in authorPosts"
        :key="index"
        :post="post"
        :postId="post.id"
      />
    </div>
  </div>
</template>

<script>
import posts from "../assets/data/posts.js";
import Post from "../components/Post.vue";

export default {
  props: ["authorDetails"],
  data() {
    return {
      authorPosts: [],
    };
  },
  components: {
    Post,
  },
  beforeMount() {
    this.authorPosts = posts.filter((post) => {
      return post.author.username === this.authorDetails;
    });
  },
};
</script>

<style scoped>
.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.post-boxs {
  width: 80%;
  display: flex;
  gap: 4%;
}

/* ********** R E S P O N S I V E ************ */
@media all and (max-width: 992px) {
  .post-boxs {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 514px) {
  .post-boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>