<template>
  <div class="container-slider">
    <div class="slider">
      <div class="slider-item active">
        <img :src="imageSrc" class="img-slider" ref="sliderImgElem" />
        <div class="slider__box">
          <div class="landing__content">
            <div class="landing__author">
              <div class="landing__author__img">
                <img src="../assets/svgs/person1.svg" alt="" />
              </div>
              <div class="landing__author__about">
                <h6 class="">محمد سبحان سبحایی فر</h6>
                <p class="m-0">28 تیر 1400</p>
              </div>
            </div>
            <div class="landing__text">
              <h6>
                کنترل کننده زیردریایی طراحی شده در دانشگاه صنعتی شریف در بین ۱۰
                زیردریایی برتر جهان قرار گرفت.
              </h6>
              <p>
                کنترل کننده زیردریایی طراحی شده توسط دانشجویان دانشگاه صنعتی
                شریف در بین ۱۰ زیردریایی برتر جهان قرار گرفت.
              </p>
            </div>
            <div class="landing__details">
              <p>7 دقیقه مطالعه</p>
              <div class="landing__details__sep"></div>
              <div class="landing__details__badge">تکنولوژی</div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-buttons">
        <button type="button" class="next" ref="nextBtn" @click="nextImage">
          <i class="fas fa-angle-right" style="font-size: 27px"></i>
        </button>
        <button type="button" class="prev" ref="prevBtn" @click="prevImage">
          <i class="fas fa-angle-left" style="font-size: 27px"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import "bootstrap/dist/js/bootstrap.bundle.min.js";
import "bootstrap/dist/css/bootstrap.min.css";

export default {
  data() {
    return {
      sliderImgElem: this.$refs.sliderImgElem,
      prevBtn: this.$refs.prevBtn,
      nextBtn: this.$refs.nextBtn,

      imageSrc: require("../assets/images/paszamine.jpg"),
      imgSrcArray: [
        require("../assets/images/paszamine_com_1799_Full_HD.jpg"),
        require("../assets/images/342271.jpg"),
        require("../assets/images/paszamine.jpg"),
        require("../assets/images/519703.jpg"),
      ],

      imgIndex: 0,
    };
  },
  methods: {
    prevImage() {
      this.imgIndex--;
      if (this.imgIndex < 0) {
        this.imgIndex = this.imgSrcArray.length - 1;
      }
      this.imageSrc = this.imgSrcArray[this.imgIndex];
      console.log(this.imgIndex, this.imgSrcArray[this.imgIndex]);
    },
    nextImage() {
      this.imgIndex++;
      if (this.imgIndex > this.imgSrcArray.length - 1) {
        this.imgIndex = 0;
      }
      this.imageSrc = this.imgSrcArray[this.imgIndex];
      console.log(this.imgIndex, this.imgSrcArray[this.imgIndex]);
    },
    // setInterval(nextImage, 3000),
  },
};
</script>

<style scoped>
.slider {
  position: relative;
}
.slider-item > img {
  width: 100%;
  height: calc(100vh - 87px);
}
.slider-item {
  position: relative;
}
.slider-buttons {
  position: absolute;
  z-index: 10;
  top: 47%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 30px;
}
.prev,
.next {
  background-color: #fafafa;
  padding: 6px 10px 5px;
  border-radius: 4px;
  border: 0;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.prev:hover,
.next:hover {
  background-color: #8593a6;
}

.landing__content {
  position: absolute;
  bottom: 10%;
  right: 25%;
  padding: 30px;
  background: rgba(32, 32, 32, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.601);
  border-radius: 12px;
}
.landing__author {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.landing__author__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing__author__img img {
  width: 30px;
}
.landing__author__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 12px;
}
.landing__author__about h6 {
  font-size: 14px;
  font-weight: 100;
  color: white;
}
.landing__author__about p {
  font-size: 11px;
  color: #cccccc;
}
.landing__text {
  margin-top: 16px;
}
.landing__text h6 {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 5px;
}
.landing__text p {
  font-size: 16px;
  font-weight: 400;
  color: #cccccc;
  margin: 8px 0px 14px;
}
.landing__details {
  display: flex;
  align-items: center;
}
.landing__details p {
  font-size: 11px;
  color: white;
  margin: 0;
}
.landing__details__sep {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  margin: 0px 10px;
}
.landing__details__badge {
  font-size: 11px;
  color: #208bee;
  background-color: #deeaf5;
  padding: 3px 7px 5px;
  display: inline-block;
  border-radius: 4px;
}
</style>