<template>
  <div class="landing">
    <div class="landing__arrows">
      <div class="landing__arrowBox">
        <img src="../assets/svgs/arrow-right.svg" alt="arrow-right" />
      </div>
      <div class="landing__arrowBox">
        <img src="../assets/svgs/arrow-left.svg" alt="arrow-left" />
      </div>
    </div>
    <div class="landing__content">
      <div class="landing__author">
        <div class="landing__author__img">
          <img src="../assets/svgs/person1.svg" alt="" />
        </div>
        <div class="landing__author__about">
          <h6 class="">محمد سبحان سبحایی فر</h6>
          <p class="m-0">28 تیر 1400</p>
        </div>
      </div>
      <div class="landing__text">
        <h6>
          کنترل کننده زیردریایی طراحی شده در دانشگاه صنعتی شریف در بین ۱۰
          زیردریایی برتر جهان قرار گرفت.
        </h6>
        <p>
          کنترل کننده زیردریایی طراحی شده توسط دانشجویان دانشگاه صنعتی شریف در
          بین ۱۰ زیردریایی برتر جهان قرار گرفت.
        </p>
      </div>
      <div class="landing__details">
        <p>7 دقیقه مطالعه</p>
        <div class="landing__details__sep"></div>
        <div class="landing__details__badge">تکنولوژی</div>
      </div>
    </div>
    <div class="landing__dots">
      <div class="landing__dot"></div>
      <div class="landing__dot"></div>
      <div class="landing__dot"></div>
      <div class="landing__dot"></div>
      <div class="landing__dot"></div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.landing {
  height: calc(100vh - 87px);
  background-image: url(../assets/svgs/landing-image.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 89%; */
}
.landing__arrows {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  position: absolute;
  width: 100%;
  bottom: 45%;
}
.landing__arrowBox {
  background-color: #fafafa;
  padding: 5px;
  border-radius: 4px;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.landing__arrowBox:hover {
  background-color: #8593a6;
}
.landing__content {
  position: absolute;
  bottom: 10%;
  padding: 30px;
  background: rgba(32, 32, 32, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.601);
  border-radius: 12px;
}
.landing__author {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.landing__author__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing__author__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 12px;
}
.landing__author__about h6 {
  font-size: 14px;
  font-weight: 100;
  color: white;
}
.landing__author__about p {
  font-size: 11px;
  color: #cccccc;
}
.landing__text h6 {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 5px;
}
.landing__text p {
  font-size: 16px;
  font-weight: 400;
  color: #cccccc;
  margin: 8px 0px 14px;
}
.landing__details {
  display: flex;
  align-items: center;
}
.landing__details p {
  font-size: 11px;
  color: white;
}
.landing__details__sep {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  margin: 0px 10px;
}
.landing__details__badge {
  font-size: 11px;
  color: #208bee;
  background-color: #deeaf5;
  padding: 3px 7px 5px;
  display: inline-block;
  border-radius: 4px;
}
.landing__dots {
  bottom: 4%;
  position: absolute;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.landing__dot {
  width: 9px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.landing__dot:nth-child(3) {
  background-color: white;
}
</style>