<template>
  <div class="cover">
    <div class="alert-box">
      <form @submit.prevent="addNewTag">
        <slot></slot>
        <div class="alert-box__select">
          <label for="tag">
            <h4>لطفا دسته بندی موضوعی خود را انتخاب کنید</h4>
          </label>
          <!-- <select name="tag" id="tag" @change="selectTag(e)" v-model="newTag">
            <option value="">تکنولوژی</option>
            <option value="">پزشکی</option>
            <option value="">فناوری</option>
            <option value="">کشاورزی</option>
          </select> -->
          <select v-model="newTag" id="tag" name="tag" @blur="addNewTag">
            <option
              v-for="tag in tags"
              v-bind:value="{ id: tag.id, text: tag.name }"
              :key="tag.id"
            >
              {{ tag.name }}
            </option>
          </select>
        </div>
        <slot name="addTagBtn"></slot>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newTag: "",
      tags: [
        { id: 1, name: "تکنولوژی" },
        { id: 2, name: "پزشکی" },
        { id: 3, name: "فناوری" },
        { id: 4, name: "کشاورزی" },
      ],
    };
  },
  methods: {
    addNewTag() {
      this.$emit('newTag',this.newTag.text)
    },
    selectTag(e) {
      console.log(e);
    },
  },
};
</script>

<style scoped>
.cover {
  background-color: rgba(0, 0, 0, 0.375);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.alert-box {
  background-color: white;
  padding: 20px 30px;
  width: 27%;
}
.alert-box__select {
  margin-top: 10px;
  text-align: right;
}
.alert-box__select select {
  width: 100%;
  border: 0;
  border-bottom: 3px solid #6382a0;
  padding: 7px;
  font-size: 17px;
  margin-top: 5px;
  text-align: right;
  cursor: pointer;
  color: #6382a0;
}
.alert-box__select select:focus {
  outline: 0;
}
.alert-box__select select option {
  cursor: pointer;
}
</style>