<template>
  <!-- <Header v-if="this.$route.path === '/login' && isLogged" /> -->
  <ConnectionError v-if="!connectionStatus" />
  <Header
    v-if="
      this.$route.path === '/login' ||
      this.$route.path === '/register' ||
      this.$route.path === '/register_' ||
      this.$route.path === '/password' ||
      this.$route.path === '/register_done'
    "
  />
  <Header
    v-if="
      !isLogged &&
      (this.$route.path === '/' ||
        this.$route.path === '/posts/:id' ||
        this.$route.path === '/:username') &&
      (this.$route.path !== '/login' ||
        this.$route.path !== '/register' ||
        this.$route.path !== '/register_')
    "
  >
    <img
      src="./assets/svgs/search-icon.svg"
      alt="search"
      class="header__search"
    />
    <router-link :to="{ name: 'Register1View' }">
      <button class="header__button" style="font-family: kalameh">
        ورود / ثبت نام
      </button>
    </router-link>
  </Header>
  <Header v-if="this.$route.path !== '/login' && isLogged">
    <img
      src="./assets/svgs/search.svg"
      alt="user"
      class="header__search icon"
    />
    <img
      src="./assets/svgs/notification.svg"
      alt="search"
      class="header__notification icon"
    />
    <img :src="savedUser.image" alt="profile-image" class="header__user icon" />
  </Header>
  <router-view />

  <Footer />
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";
import ConnectionError from "./components/ConnectionError.vue";

export default {
  data() {
    return {
      connectionStatus: true,
      savedUser: {},
      isLogged: false,
      profileImg: null,
      // profileImg: require('./assets/svgs/person3.svg')
    };
  },
  beforeMount() {
    myFunction: {
      if (navigator.onLine) {
        this.connectionStatus = true;
      } else {
        this.connectionStatus = false;
      }
    }
    this.savedUser = JSON.parse(localStorage.getItem("loggedInUser"));
    if (this.savedUser) {
      console.log(this.savedUser.image);
      // this.profileImg = require(this.savedUser.image);
      console.log(this.profileImg);
      this.isLogged = true;
    }
  },
  components: {
    Header,
    Footer,
    ConnectionError,
  },
};
</script>

<style>
#app,
button,
input,
select,
textarea {
  font-family: "kalameh";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
}

@font-face {
  font-family: kalameh;
  src: url(./assets/fonts/Kalameh/01-Standard-Fonts/TTF/Kalameh-Regular.ttf);
}
</style>
